<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205457761913-ds48850sudft718hu690ed1eknt0cqer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205457761913-ds48850sudft718hu690ed1eknt0cqer</string>
	<key>API_KEY</key>
	<string>AIzaSyCG9JHmHoYZV72-Dyqx-OIkojPvJGa_7fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>205457761913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.custom.life.app</string>
	<key>PROJECT_ID</key>
	<string>my-custo-life</string>
	<key>STORAGE_BUCKET</key>
	<string>my-custo-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205457761913:ios:400a46fe4cac3f9f1dd6a8</string>
	<key>DATABASE_URL</key>
	<string>https://my-custo-life.firebaseio.com</string>
</dict>
</plist>