
ion-content{
    --ion-background-color:black;
}

ion-footer{
    --ion-background-color:black;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    height: 45%;

    ion-input {
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 5px;
        --placeholder-color: white;
    }
}

#logo-company {
    width: auto;
    margin: auto;
    display: block;
    max-width: 50%;
    margin-top: 20%;
}

.login-button {
    border-radius: 5px;
}
